# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries used in Data Science
- List popular Data Science IDE Tools
- Exemplify some arithmetic calculations in Python

1. Python
2. R
3. Scala
4. Julia

1. Pandas
2. NumPy
3. Keras
4. ggplot2

| Data Science Tools |
| --- | 
| Jupiter Notebooks | 
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Alessandro Toninelli